header {
    display: flex;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    background-color: gainsboro;
}

head {
    margin-top: 0;
}

.left-section {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    margin-left: 30px;
} 

.home,
.contact,
.shop {
    color: blue;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.home:hover,
.contact:hover,
.shop:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.home:active,
.contact:active,
.shop:active {
    text-decoration: underline;
    font-size: 15px;
}

.logo-box {
    height: 99px;
    width: 200px;
}

.logo {
    width: 180px;
    height: auto;
}

.right-section {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.search,
.shopping {
    width: 30px;
    height: auto;
    cursor: pointer;
}


